<section class="events">
  <div class="container">
    <div class="table-responsive">
      <table border="1">
        <thead>
        <tr>
          <th>{{ 'ID'|t }}</th>
          <th>{{ 'Title'|t }}</th>
          <th>{{ 'Category'|t }}</th>
          <th>{{ 'Start Date'|t }}</th>
          <th>{{ 'End Date'|t }}</th>

        </tr>
        </thead>
        <tbody>
        {% for event in events %}
          <tr>
            <td>{{ event.id }}</td>
            <td>{{ event.title }}</td>
            <td>{{ categories[event.category]  }}</td>
            <td>{{ event.start_date|date('d-m-Y') }}</td>
            <td>{{ event.end_date|date('d-m-Y') }}</td>

          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</section>
